[Unit]
Description=UDP Relay
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=socat -d -d -T 600 UDP4-LISTEN:501,reuseaddr,fork UDP4:<UPSTREAM-IP>:501

[Install]
WantedBy=multi-user.target
